body{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
/* Container 1 general settings*/
.container-1{
    background:   #1f2937;
    color: white;
    display: flex;
    flex-direction: column;

}
/*First part of the container*/
.head-header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/*Left-top logo settings*/
.logo{
    font-size: 36px;
    font-family: roboto;
    font-weight: 900;
    font-style: italic;
    padding: 0 10px;
    margin: 10px;

}
/* general setting for ul */
ul{
    list-style: none;
    text-decoration: none;
    gap: 50px;
}
/*Setting for the top links*/
.links li{
    gap: 16px;

}
/*Second part of the first container*/
.head-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 20px;
}
/*Header paragraph settings*/
.para{
    width: 300px;
    
}
/*Paragraph content settings*/
.para .content{
    padding: 16px 0;
}

/*Paragraph title of the header font settings*/
.para-title{
    font-size: 48px;
    font-weight: 900;
}
/*header button setting*/
.head-content button{
    background-color:cadetblue;
    border-radius: 6px;
    border-color: none;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    padding: 10px 30px;
}
.container-1 .image-holder img{
    max-width: 400px;
    height: auto;
}

.container-1 ul{
    display: flex;
    margin: 0;
    padding: 0;
}
/*This is where Container 2 begins*/
.container-2{
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container-2 .content{
    display: flex;
    gap: 20px;
}
.container-2 .square{
    border:6px solid chocolate;
    height: 100px;
    width:  auto;
    margin: 10px 0;

}
.container-2 .header{
    margin: 20px 0;
}
.container-2 .text{
    text-align: center;
}
.container-2 .item{
    width: 150px;
    height: auto;
}
/*header attributes*/
.container-2 .header{
    font-size: 36px;
    font-weight: 900;
    font-family: Impact;
}

/*Here beggins container-3 settings*/
.container-3{
    background: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-3 .quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 800px;
}
.container-3 .author{
    align-self: flex-end;
    margin-right: 170px;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;


}
/*Here beggins container-4 settings*/
.container-4{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    
    
}
.container-4 .mini-container{
    background-color:darkblue;
    color:#e5e7eb;
    display:flex;
}